/*
 * Global add-ons
 */
.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
	border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
	display: none;
}

.subbrand {
	display: none;
}

@media ( min-width : 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto;
		/* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}
	.navbar-form .form-control {
		display: inline-block;
		width: 130px;
		vertical-align: middle;
	}
	.subbrand {
		display: block;
	}
	.propager .glyphicon {
		margin: 0px 15px;
		text-decoration: none;
	}
}

}

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}

.nav-sidebar>li>a {
	padding-right: 20px;
	padding-left: 20px;
}

.nav-sidebar>.active>a, .nav-sidebar>.active>a:hover, .nav-sidebar>.active>a:focus
	{
	color: #fff;
	background-color: #428bca;
}

/*
 * Main content
 */
.main {
	padding: 20px;
}

@media ( min-width : 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}

.main .page-header {
	margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */
.placeholders {
	margin-bottom: 30px;
	text-align: center;
}

.placeholders h4 {
	margin-bottom: 0;
}

.placeholder {
	margin-bottom: 20px;
}

.placeholder img {
	display: inline-block;
	border-radius: 50%;
}

/* Custom */
.subbrand {
	font-size: medium;
}

.table-inner {
	margin-bottom: 5px;
}

table, thead th {
	text-align: center;
}

caption {
	text-align: center;
	font-weight: bold;
	color: black;
}

.propager .glyphicon {
	margin: 0px 5px;
	text-decoration: none;
}

.propager .glyphicon:hover {
	cursor: pointer;
}

.disabled {
	color: gray !important;
}

.disabled:hover {
	cursor: default !important;
}

.panel-heading[data-toggle="collapse"]:hover {
	cursor: pointer;
}

.sidebar-footer {
	top: 250px;
	padding-right: 20px;
	position: relative;
}

.table_word:hover {
	cursor: pointer;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	padding-top: 50px;
}

.mainContainer {
	min-height: 100%;
}

.mainContent {
	padding-bottom: 50px;
} /* main的padding-bottom值要等于或大于footer的height值 */
.footer {
	height: 50px;
	margin-top: -50px;
} /* margin-top（负值的）高度等于footer的height值 */
.label-warning {
	font-size: 105%;
}

.qaborder {
	width: 1110px;
	height: 600px;
	position: relative;
	border: 1px solid #CACACA;
}

.qaleft {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 700px;
	z-index: 2;
	border-right: 1px solid #CACACA;
}

.qaright {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 410px;
	background-color: #FFF;
}

.st-message-wrap {
	margin: 10px;
	font-size: 14px;
	width: 90%;
	position: relative;
}

.answer {
	float: left;
}

.answer .st-message-icon {
	float: left;
	background: url("../img/robot.png") center top no-repeat;
	width: 42px;
	height: 42px;
}

.answer .st-message-r {

	width: 6px;
	height: 12px;
	position: absolute;
	top: 14px;
	left: 50px;
}

.answer .st-message {
	margin-left: 55px;
	margin-right: 10px;
}
.answer .st-outline {
    float: left;
}
.st-outline {
	line-height: 22px;
	background-color: rgb(221, 234, 244);
	word-break: break-all;
	padding: 7px;
	border-radius: 0px 20px 20px;
	font-size: 16px;
	font-family: 'Microsoft YaHei' !important;
}
.conversation_import {
    background: #fff;
    position: relative;
}
.conversation_import .chat_input {
    border: #CACACA solid 1px;
    width: 100%;
    height: 100px;
    resize: none;
    font-size: 14px;
    font-family: "微软雅黑";
    line-height: 22px;
    padding: 5px 10px;
    box-sizing: border-box;
}
.conversation_btn {
    height: 50px;
    /* line-height: 50px; */
}
.clearfix {
    display: block;
    clear: both;
    zoom: 1;
}
.st-input-limit {
    color: rgb(60, 33, 17);
    font-size: 14px;
}
.conversation_btn button {
    float: right;
    margin: 10px 20px 0 0;
    width: 90px;
    height: 35px;
    background: #2979da;
    border: none;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}
.ask {
    float: right;
}
.ask .st-message-icon {
    float: right;
    background: url(../img/people.png) center top no-repeat;
    width: 41px;
    height: 41px;
}
.ask .st-message-r {
    width: 6px;
    height: 12px;
    position: absolute;
    top: 14px;
    right: 50px;
}
.ask .st-message {
    margin-right: 55px;
    margin-left: 30px;
}
.ask .st-outline {
    float: right;
    background: #5f7ab3;
    color: white;
    border-radius: 20px 0px 20px 20px;
}